@import "../../MisterEmail/assets/css/email.css";
@import "../../MisterKeep/assets/css/keep.css";


body {
    background-color: lightblue;
}




/* HELPERS */

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.direction-column{
    flex-direction: column;
}
