*{
    box-sizing: border-box;
}

.keep-main {
    background-color: lightslategray;
}

.keep-header {
    color: lime;
}

.note-preview {
    display: flex;
    width: 300px;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;
    justify-content: space-between;
}

.note-preview button{
    width: 25px;
    height: 25px;
    /* align-content: center;
    top: 5px;
    right: 5px; */
}

.img-note img {
    width: 100%;
}